
.Techsimpleict{
    border: 2px solid red;
    background-color:green;
    
}
.Techsimpleict h2{
    font-size: 48px;
    text-align: center;
    color: aliceblue;
}
.Techsimpleict span{
    color: red;
}
.Techsimpleict p{
    font-size: 20px;
    text-align: center;
    color: aliceblue;

}